<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
   <meta charset="UTF-8"/>
   <title>Pet Connections</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>
   <h1 class="h1">Provider:</h1>
   <div class="card">
      <div class="card-body">
         <h3 class="card-title" th:text="${provider.id}"></h3>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item" th:text="'Grooming: '+ ${provider.isGroomer)? 'Yes' : 'No'"></li>
         <li class="list-group-item" th:text="'Sitting: '+ ${provider.isSitter)? 'Yes' : 'No'"></li>
         <li class="list-group-item" th:text="'Walking: '+ ${provider.isWalker)? 'Yes' : 'No'"></li>
         <li class="list-group-item" th:text="'Training: '+ ${provider.isTrainer)? 'Yes' : 'No'"></li>
      </ul>
      <div class="card-body">
         <a th:href="@${provider.email}" class="card-link">Email</a>
      </div>
   </div>
</body>
</html>